@main-blue: rgba(0, 55, 100, 1);
@blue-title: rgba(9, 48, 89, 1);
@light-blue: rgba(4, 64, 126, 1);
@grey-blue: rgba(33, 88, 141, 1);
@salad-green: rgba(142, 182, 28, 1);
@grey: rgba(241, 241, 241, 1);
@light-grey: rgba(248, 248, 248, 1);
@blue-span: rgba(14, 87, 161, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
}

.centered {
    max-width: 960px;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

// header

.main-header:extend(.flex-row) {
    height: 104px;
    justify-content: space-between;
    align-items: center;
}

.main-header-logo {
    display: block;
    margin-top: 60px;
}

.main-header-nav {
    height: 100%;
    ul:extend(.flex-row) {
        height: inherit;
        list-style: none;
        li {
            width: 120px;
            text-align: center;
            position: relative;
            a {
                display: block;
                padding: 70px 0 0;
                font-size: 13px;
                font-weight: 600;
                color: @main-blue;
                text-transform: uppercase;
                text-decoration: none;
                // &::before {
                //     opacity: 0;
                //     content: "";
                //     width: 100%;
                //     height: 12px;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     background-color: @main-blue;
                // }
                // &:hover &::before {
                //     opacity: 1;
                // }
            }
        }
    }
}

.welcome-wrap {
    height: 495px;
    background: rgb(3,59,116);
    background: -moz-linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    background: linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#033b74",endColorstr="#05488d",GradientType=1);
    .welcome {
        height: inherit;
        background: url('/img/welcome-bg.png') no-repeat;
        background-position: top 30px right;
    }
}

.social-icons:extend(.flex-row) {
    flex-wrap: wrap;
    width: fit-content;
    list-style: none;
    margin-bottom: 54px;
}

.social-icon {
    width: 53px;
    height: 45px;
    transition: 0.3s;
    text-align: center;
    background-color: @grey-blue;
    a {
        position: relative;
        display: inline-block;
        width: inherit;
        height: inherit;
        svg {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(50%, -50%);
        }
    }
    &:hover {
        background-color: @salad-green;
    }
}

.welcome-text {
    max-width: 399px;
    margin-bottom: 27px;
    h1  {
        margin: 0 10px 10px 0;
        font-size: 22px;
        font-weight: 600;
        line-height: normal;
        color: white;
        text-transform: uppercase;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        color: white;
    }
}

.video-preview:extend(.flex-row) {
    align-items: center;
    justify-content: space-between;
    width: 345px;
    margin: 0 0 30px;
    &__window {
        width: 138px;
        height: 91px;
        border: 3px solid #002c58;
        background: url('/img/play-bg.svg') center center no-repeat #fff;
        cursor: pointer;
    }
    .decorative-text {
        font-size: 21px;
        color: white;
        text-transform: uppercase;
        &::before {
            content: url('/img/tekton-arrow.png');
            margin-right: 8px;
        }
    }
}

.load-text {
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin: 0 8px 8px 0;
}
.purchase-btns {
    button {
        margin-right: 8px;
        font-family: 'Signika Negative';
        font-size: 14px;
        line-height: 12px;
        text-transform: uppercase;
        transition: 0.3s;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .download-btn {
        padding: 14px 15px 12px;
        border: 1px solid #12161d;
        background: rgb(60,110,3);
        background: -moz-linear-gradient(0deg, rgba(60,110,3,1) 0%, rgba(149,187,41,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(60,110,3,1) 0%, rgba(149,187,41,1) 100%);
        background: linear-gradient(0deg, rgba(60,110,3,1) 0%, rgba(149,187,41,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6e03",endColorstr="#95bb29",GradientType=1);
    }
    
    .buy-btn {
        padding: 14px 15px 12px;
        border: 1px solid #12161d;
        background: rgb(142,47,14);
        background: -moz-linear-gradient(0deg, rgba(142,47,14,1) 0%, rgba(205,133,81,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(142,47,14,1) 0%, rgba(205,133,81,1) 100%);
        background: linear-gradient(0deg, rgba(142,47,14,1) 0%, rgba(205,133,81,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e2f0e",endColorstr="#cd8551",GradientType=1);
    }
}

// about blocks

.about{
    &-block {
        display: flex;
        flex-direction: column;
    }
    &-title {
        margin: 0 auto;
        font-family: 'Signika Negative';
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        color: @blue-title;
    }
}

.dotted-through-line {
    display: inline;
    position: relative;
    // &::before,
    // &::after {
    //     position: absolute;
    //     content: "";
    //     border-top: 1px dotted grey;
    //     width: 100%;
    //     transform: translateY(8px);
    // }
    // &::before {
    //     left: 0;
    // }
    // &::after {
    //     right: 0;
    // }
}

.features:extend(.flex-column) {
    padding-top: 40px;
    &-title {
        margin: 0 auto 33px;
    }
    &-list:extend(.flex-row) {
        flex-wrap: wrap;
        list-style: none;
    }
}

.feature-element:extend(.flex-column) {
    align-items: center;
    width: 187px;
    margin: 0 5px 40px 0;
    .img-wrap:extend(.flex-column) {
        width: 187px;
        height: 105px;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        background: @light-grey;
        img {
            margin-top: 11px;
        }
        span {
            margin-bottom: 11px;
            font-family: 'Open Sans';
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            color: @blue-span;
        }
    }
    p {
        padding: 10px 18px 0;
        margin-bottom: 11px;
        font-family: 'Open Sans';
        font-weight: 400;
    }
    a {
        font-family: 'Open Sans';
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
        color: @blue-span;
    }
}

// showcase & news section

.about-columns:extend(.flex-row) {
    justify-content: space-between;
    gap: 8px;
}

.showcase:extend(.flex-column) {
    width: 40%;
    &-title {
        margin: 0 auto 34px;
    }
    &-gallery:extend(.flex-row) {
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        &__element {
            width: 185px;
            height: 132px;
            margin-bottom: 16px;
            background-color: @blue-span;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.05);
            }
            img {
                object-fit: contain;
            }
        }
    }
}

.news:extend(.flex-column) {
    width: 60%;
    &-title {
        margin: 0 auto 34px;
    }
    &-list:extend(.flex-column) {
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        &__element:extend(.flex-row) {
            justify-content: space-between;
            time:extend(.flex-column) {
                margin-left: 15px;
                align-items: center;
                justify-content: center;
                color: @blue-span;
                & .time-day {
                    font-size: 22px;
                }
                & .time-month,
                & .time-year {
                    font-size: 10px;
                }
            }
            .news-card {
                position: relative;
                width: 483px;
                height: 92px;
                background-color: @light-grey;
                &__text {
                    padding: 13px 14px 13px 22px;
                }
                &__detailed {
                    position: relative;
                    left: calc;
                    padding: 13px 28px 11px;
                    background-color: #001e3c;
                    font-family: 'Open Sans';
                    font-size: 11px;
                    text-decoration: none;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
    }
}

// pre slider title

.slider-title {
    margin: 0 auto 35px;
}

// feedback slider

.slider-wrapper {
    margin-bottom: 48px;
    background-color: @grey;
}

.feedback-text {
    position: relative;
    height: 135px;
    margin: 21px 4px 50px 0;
    padding: 19px 24px;
    background-color: white;
    text-overflow: ellipsis;
    &:before {
        content: "";
        position: absolute;
        bottom: -15px; 
        left: 10px;
        transform: scale(1.5, 2.5);
        border: solid 15px transparent;
        border-right-color: #FFF;
        z-index: -1;
    }
}

.feedback-author:extend(.flex-row) {
    margin-bottom: 24px;
    justify-content: space-evenly;
    align-items: center;
    &__photo {
        width: 60px;
        height: 60px;
    }
    &__name {
        // font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: @blue-span;
    }
}

// footer

.main-footer:extend(.flex-row) {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dotted grey;
}

.copyright-list:extend(.flex-row) {
    flex-wrap: wrap;
    list-style: none;
    &__element {
        font-family: 'Open Sans';
        font-size: 11px;
        font-weight: 400;
        &:not(:last-child) {
            padding: 0 5px;
            border-right: 1px solid black;
        }
        &:first-child {
            padding: 0 5px 0 0;
        }
        &:last-child {
            padding-left: 5px;
        }
    }
}

// social icons in footer

.social-icons__footer:extend(.flex-row) {
    list-style: none;
}

.social-icon__footer {
    padding: 5px;
    a {
        display: block;
    }
}
// video popup

.popup-hidden {
    display: none;
}
.popup-active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    overflow: hidden;
    &__video,
    &__image {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.close-icon {
    content: url('/img/close-icon.svg');
    position: absolute;
    top: 2vw;
    right: 3vw;
    width: 25px;
    height: 25px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.9);
    }
}

// slider controls

.glide__arrow {
    position: absolute;
    display: block;
    top: 27%;
    border: solid @blue-span;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    &--left {
        left: -5em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &--right {
        right: -5em;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}