// css variables

:root {
    --main-blue: rgba(0, 55, 100, 1);
    --light-blue: rgba(4, 64, 126, 1);
    --grey-blue: rgba(33, 88, 141, 1);
    --salad-green: rgba(142, 182, 28, 1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', 'Open Sans', sans-serif;
}

.centered {
    max-width: 960px;
    margin: 0 auto;
}

// header

.main-header {
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header-logo {
    display: block;
    margin-top: 60px;
}

.main-header-nav {
    height: 100%;
    ul {
        display: flex;
        height: inherit;
        list-style: none;
        li {
            width: 120px;
            text-align: center;
            position: relative;
            a {
                display: block;
                padding: 70px 0 0;
                font-size: 13px;
                font-weight: 600;
                color: var(--main-blue);
                text-transform: uppercase;
                text-decoration: none;
                // &::before {
                //     opacity: 0;
                //     content: "";
                //     width: 100%;
                //     height: 12px;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     background-color: var(--main-blue);
                // }
                // &:hover &::before {
                //     opacity: 1;
                // }
            }
        }
    }
}

.welcome-wrap {
    height: 495px;
    background: rgb(3,59,116);
    background: -moz-linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    background: linear-gradient(90deg, rgba(3,59,116,1) 0%, rgba(59,119,171,1) 50%, rgba(5,72,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#033b74",endColorstr="#05488d",GradientType=1);
    .welcome {
        height: inherit;
        background: url('/img/welcome-bg.png') no-repeat;
        background-position: top 30px right;
    }
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    list-style: none;
}

.social-icon {
    width: 53px;
    height: 45px;
    transition: 0.3s;
    text-align: center;
    background-color: var(--grey-blue);
    a {
        position: relative;
        display: inline-block;
        width: inherit;
        height: inherit;
        svg {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(50%, -50%);
        }
    }
    &:hover {
        background-color: var(--salad-green);
    }
}